<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <h1 class="page-header">Reviews</h1>

    <div th:if="${#lists.isEmpty(requests)}">
        <h4>
            You still have no reviews
        </h4>
    </div>

    <div th:if="${not #lists.isEmpty(requests)}">
        <table class="table">
            <thead>
            <tr>
                <th>Owner</th>
                <th>Comment</th>
                <th>Rating</th>
            </tr>
            </thead>
            <tr th:each="request : ${requests}">
                <td th:text="${request.owner.email}">ride</td>
                <td th:text="${request.comment}">ride</td>
                <td th:text="${request.rating}">ride</td>
            </tr>
        </table>
    </div>

</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>