<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Places</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <h1 class="page-header">Places</h1>

    <div th:if="${#lists.isEmpty(places)}">
        <h4>
            You still have no places
        </h4>
    </div>

    <div sec:authorize="hasRole('ROLE_BUSINESS')">
        <a th:href="@{/business/places/create}">Create new place</a>
    </div>

    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">
            &nbsp;</div>
    </th:block>

    <div th:if="${not #lists.isEmpty(places)}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>City</th>
                <th>Description</th>
                <th sec:authorize="hasRole('ROLE_BEATNIK')">Actions</th>
            </tr>
            </thead>
            <tr th:each="place : ${places}">
                <td th:text="${place.name}">ride</td>
                <td th:text="${place.type}">ride</td>
                <td th:text="${place.city.name}">ride</td>
                <td th:text="${place.description}">ride</td>
                <td sec:authorize="hasRole('ROLE_BEATNIK')">
                    <a th:href="@{'/beatnik/place_requests/' + ${place.id} + '/create'}">Create Request</a>
                </td>
            </tr>
        </table>
    </div>

</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>