<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Ride</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/datepicker.css.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/datepicker.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../resources/js/jquery-1.11.2.min.js"></script>
    <script src="../../../resources/js/bootstrap-datepicker.js"
            th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
    <script src="../../../resources/js/rides.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <h1 class="page-header">Create Ride</h1>
    <th:block th:if="${#fields.hasErrors('${ride.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
            Alert
        </div>
    </th:block>
    <form id="ride-form" th:action="@{/driver/rides/create}" th:object="${ride}" method="post" role="form">
        <div class="form-group">
            <select class="form-control">
                <option th:each="city : *{availableCities}"
                        th:value="${city.id}"
                        th:text="${city.name}">Wireframe
                </option>
            </select>
        </div>

        <a id="add-point-btn" href="#!" title="Add New Point">
            <span class="glyphicon-plus" style="font-size: 2em;"></span>
        </a>

        <div class="form-group">
            <label>Date</label>

            <div>
                <input readonly="readonly" class="form-control datepicker" th:field="*{date}"/>
            </div>
        </div>
        <div class="form-group">
            <label>Max Participants</label>

            <div>
                <input class="form-control" type="number" th:field="*{maxParticipants}"/>
            </div>
        </div>
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-default">Create</button>
            </div>
        </div>
    </form>
    <a th:href="@{/driver/rides}">Back To List</a>
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
<script type="text/javascript" lang="javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker();

        $("#add-point-btn").click(addPoint);
    });
</script>
</body>
</html>