<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Updated requests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <h1 class="page-header">Requests</h1>

    <div th:if="${#lists.isEmpty(requests)}">
        <h4>
            None of your requests were updated
        </h4>
    </div>

    <div th:if="${not #lists.isEmpty(requests)}">
        <table class="table">
            <thead>
            <tr>
                <th>Points</th>
                <!--<th>Departure</th>-->
                <!--<th>Arrival</th>-->
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request, status : ${requests}">
                <th>
                    <a data-toggle="collapse"
                       th:text="${request.ride.points[0].city.name} + ' &mdash; ' + ${request.ride.points[#lists.size(request.ride.points) - 1].city.name}"
                       th:href="|#collapse${status.index}|">
                        Link with href
                    </a>

                    <div class="collapse" th:id="|collapse${status.index}|">
                        <ul class="list-unstyled">
                            <li th:each="point : ${request.ride.points}" th:text="${point.city.name}"></li>
                        </ul>
                    </div>
                </th>
                <!--<td th:text="${request.ride.departure.name}"></td>-->
                <!--<td th:text="${request.ride.arrival.name}"></td>-->
                <td th:text="${request.ride.date}"></td>
                <td th:text="${request.status}"></td>
                <td>
                    <form action="#" th:action="@{/beatnik/requests/markAsOld}" method="post" role="form">
                        <input type="hidden" name="request_id" th:value="${request.id}"/>

                        <div>
                            <button type="submit" class="btn-link">Mark as Old</button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>